
/*ログイン画面のcss*/
.login-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

header {
  text-align: center;
  padding-top: 20px 0;
}

header img {
  max-width: 200px;
  height: auto;
  position:relative;
  display: inline-block;
	/*top:0px;
	left:220px;*/
}

.logo img {
  max-width: 200px;
  height: auto;
  margin-bottom: 50px;
}

.form-group {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  text-align: left;
}

label {
  display: block;
  margin-bottom:5px;
  font-weight: bold;
}

input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #9be29b;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


button1 {
  background-color: #9be29b;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  display: block;
  width: 100%;
  max-width: 260px;
  margin: 10px auto;
  text-align: center;
}

button_sp {
  background-color: white;
  border: none;
  color: #9be29b;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #9be29b;
}




button:hover {
  background-color: #7ac77a;
}

button1:hover {
  background-color: #7ac77a;
}

button_sp:hover {
  background-color: #def9de;
}

#errorMsg {
  color: red;
  min-height: 1.5em;  /*常に1行分の高さを確保*/
  visibility: hidden; /*消すけど高さは残る*/
}

#errorMsg.show {
  visibility: visible; /*表示したいときだけ見せる */
}





/* ADD */
.help-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.help-link:hover {
  color: #0056b3;
}


.popup {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  max-width: 500px;
  text-align: left; 
  margin: 0 auto;
}


.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}
.popup-close:hover {
  color: red;
}
