services:
  backend:
    build: .
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    command: sh docker/entrypoint.sh
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://student:student@db:5432/database

  db:
    image: postgres:16
    container_name: my-postgres
    environment:
      POSTGRES_USER: student
      POSTGRES_PASSWORD: student
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  node_modules: